*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero__section{
    background-image: url(./images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 70vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 48px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar__menu_container{
    display: flex;
    gap: 40px;
    font-size: 15px;
}

.navbar__getapp{
    font-size: 13px;
    font-weight: 500;
}

.navbar__menu_container .user_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    width: 23px;
    border-radius: 100%;
    border: 1px solid white;
    display: none;
    
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(60vh - 70px);
}

.hero__section_logo{
    width: 300px;
    height: 60px;
}

.hero__section_title{
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}

.hero__section_input_container{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
    height: 60px;
    border-radius: 8px;
}

.input__container_location, 
.input__container_search{
    height: 21px;
    padding: 5px;
    border: none;
    outline: none;
}

.input__container_location{
    width: 32%;
    border-right: 1.5px solid rgb(207, 203, 203);
}

.input__container_search{
    width: 68%;
}


/* Screen size is from 0-600px (i.e for mobile screen)  */
@media only screen and (max-width: 600px){
    .navbar__menu_container .user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section{
        max-height: 60vh;
    }
    .hero__section_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        height: calc(60vh - 30px);
    }
    .input__container_location, 
    .input__container_search{
        padding: 15px;
        border-radius: 8px;
        width: 95%;
        font-size: 14px;
    }
    .hero__section_title{
        font-size: 20px;
        width: 95%;
    }
    .hero__section_input_container{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    .input__container_location{
        border-right: none;
        border-bottom: 1px solid grey;
        border-radius: 0;
        padding-bottom: 25px;
    }
    #location_icon, #search_icon{
        display: none;
    }
}
/* Out of media queries */

.container__we_offer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem auto;
    width: 100%;  
    gap: 1rem;
}

.we__offer_card{
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    min-width: 353px;
}

.we__offer_card:hover{
    transform: scale(1.05);
}

.we__offer_card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
    
}

.we__offer_content{
    padding: 5px 10px 5px 10px;
}

.we__offer_content h2{
    font-size: 20px;
    font-weight: 400;
}

.we__offer_content p{
    font-size: 15px;
}

.collections{
    max-width: 1090px;
    margin: auto;
}

.collections h1{
    font-weight: 500;
    font-size: 36px;
    padding: 4px 0 0;
}

.collections .sub__heading_container{
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 300;

}

.sub__heading_container span:nth-child(2){
    color: #ff7e8b;
    font-size: 16px;
    cursor: pointer;
}

.sub__heading_container span:nth-child(2) i{
    margin-left: 7px;
    color:#ff7e8b;
}

.collections__card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
}

.collections__card_container .card{
    height: 330px;
    min-width: 265px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.card1{
    background-image: url('./images/collection1.jpg');
    
}

.card2{
    background-image: url('./images/collection2.jpg');
    
}

.card3{
    background-image: url('./images/collection3.jpg');
    
}

.card4{
    background-image: url('./images/collection4.jpg');
    
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

#grad{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.30), rgba(0,0,0,1));
}

.collections__card_container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
}

.content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}

.content span i{
    margin-left: 6px;
}

.get__the_app{
    background-color: #fffbf7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100;
    padding: 3rem 6rem;
}

.get__the_app .semiContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.get__the_app .semiContainer .left{
    flex: 2;
}

.get__the_app .semiContainer .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;

}

.get__the_app .semiContainer .right{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right h1{
    font-weight: 400;
    font-size: 2rem;
}

.right p{
    font-size: 0.8rem;
}

.right .radio__button_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right .radio__button_container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.right .radio__button_container div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239, 79, 95);
}

.semiContainer .right .input__container{
    display: flex;
    gap: 0.5rem;
}

.input__container{
    flex-wrap: wrap;
}

.input__container button,
.input__container input{
    padding: 10px 12px;
}

.input__container input{
    flex: auto;
    border: 1.5px solid grey;
    outline: none;
    border-radius: 5px;
}

.input__container button{
    border: none;
    background-color: rgb(239, 79, 95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right .download__app_container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.right .download__app_container h5{
    font-weight: 400;
    color: grey;
}

.right .download__app_container div{
    display: flex;
    gap: 1rem;
}

.right .download__app_container div img{
    width: 35%;
}


/* Media Queries for Download App*/
@media only screen and (max-width: 1300px){
    .get__the_app .semiContainer .left,
    .get__the_app .semiContainer .right{
        flex: 1;
    }

    .get__the_app .semiContainer{
        width: 80%;
    }
}

@media only screen and (max-width: 900px){
    .get__the_app{
        padding: 2rem 0;
    }

    .get__the_app .semiContainer{
        width: 95%;
        flex-direction: column;
    }
   
}


/* Footer */

.footer{
    width: 100%;
    margin-top: 50px;
}

.footer_section1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.footer_section1 img{
    width: 130px;
}

.section1__buttonContainer{
    display: flex;
    gap: 15px;
}

.section1__buttonContainer button{
    padding: 5px;
    width: 90px;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.navigation_container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}

.link__container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link__container h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}

.footer__link{
    text-decoration: none;
    color: grey;
    font-size: 12.5px;
    font-weight: 300;
}

.footer__link:hover{
    color: black;
}

.section__links_container button{
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    cursor: pointer;
}

.section__links_container button i{
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__section_logos{
    width: 100%;
}

.disclaimer{
    width: 92%;
    color: grey;
    font-size: 13px;
    margin: auto;
    border-top: 1px solid grey;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media only screen and (max-width: 900px){
    .navigation_container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 500px){
    .navigation_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 320px){
    .navigation_container{
        grid-template-columns: repeat(3, 1fr);
    }
}








